
/*text input box styling*/

.text-box {
	width: 50%;
	padding: 1em 0;
	border: .5em solid black;
	margin: 1em auto;
}

.items {
	margin: 0;
	width: 100%;
	text-align: center;
}

.text-box h1 {
	font-weight: 900;
}

.items button {
	width: 25%;
}

input[type="text"] {
	width: 50%;
}

/* list of shopping items styling*/

.button-headers {
	overflow: auto;
}

ul {
	list-style: none;
	width: 100%;
	padding: 0;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	width: 50%;
	float: left;
}

.listed-items {
	width: 50%;
	border: .5em solid black;
	margin: 1em auto;
	overflow: hidden;
}

.shoppinglist-title h1 {
	text-align: center;
}

label {
	width: 25%;
	display: inline-block;
	float: left;
}

input[type="checkbox"] {
	display: inline-block;
	width: 23%;
	float: left;
}

.list-of-items button {
	margin-left: 4em;

}

input[type="checkbox"]:checked + label {
	text-decoration: line-through;
}

.remove-button {
	width: 46%;
	float: left;
	text-align: center;
}

.added-item {
	padding-bottom: 1.5em;
}